@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 bg-p-color text-white font-semibold rounded-full shadow-md hover:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }

  .table-heading{
    @apply px-4 py-1 hover:bg-indigo-100 hover:cursor-pointer active:bg-indigo-200
  }
}

.appjs{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyInput{
  padding: 1% 0;
  white-space: nowrap;
}

.primary-button{
  background-color: #28BCB5;
  border-radius: 5%;
  padding: 3% 10%;
  color: #FEFEFE;
}

.primary-button:hover{
  background-color: #199891;
  color: white;
}

.mainComponent{
  margin: 5% 0%
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
